{
    "presets": [
        ["es2015", { "modules": false }], "stage-0", "react"
    ],
    "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        ["transform-class-properties", { "spec": true }],
        "external-helpers",
        "add-module-exports"
    ]
}