{
    "presets": [
        ["env", {
            "modules": false,
            "useBuiltIns": true,
            "debug": true,
            "loose": true,
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"],
                "node": "current"
            }
        }],
        "react"
    ],
    "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        ["transform-class-properties", { "spec": true }]
    ],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        }
    }
}